* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: black;
}

header {
  background-color: black;
  background: url(../img/peakyBlindersAchtergrond.jpg) no-repeat center center fixed;
  height: 100vh;
  position: relative;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  background-color: black;
}

h1 {
  font-family: "Imbue", serif;
  color: white;
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 12px;
  font-size: 350%;
  font-weight: 400;
}

.externe-nav {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.771);
  padding: 10px 20px;
}

.nav-links {
  display: flex;
}

.nav-links li {
  list-style: none;
  flex: 1;
  text-transform: uppercase;
}

.nav-links a {
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 16px;
}

.nav-links a:hover {
  color: rgba(0, 0, 0, 0.541);
}

#logo-nav {
  flex: 3;
  text-transform: uppercase;
}

#logo-nav :hover {
  color: black;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form {
  width: 85%;
  max-width: 600px;
  background: #f1f1f1ec;
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 40px;
  margin: 0;
  border-radius: 8px;
  text-align: center;
}

.contact-form h2 {
  margin-top: 0;
  font-weight: 200;
}

.textb {
  border: 1px solid grey;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}

.textb label {
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}

.textb input,
.textb textarea {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}

.input-field.valid {
  color: green;
}

.input-field.invalid {
  color: red;
}

button {
  width: 60%;
  height: 30px;
  text-transform: uppercase;
  border: none;
  background-color: rgba(0, 0, 0, 0.753);
  color: whitesmoke;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: rgba(128, 128, 128, 0.582);
  color: black;
}

@media only screen and (max-width: 823px) {
  h1 {
    z-index: -2;
  }

  .externe-nav {
    background-color: rgba(12, 12, 12, 0.986);
  }
  .nav-links {
    flex-direction: column;
    align-items: center;
    padding: 5px 0px;
  }
  .nav-links li {
    padding: 10px 0px;
    padding: 0;
    margin: 3px;
  }
  .nav-links a {
    font-size: 10px;
    color: white;
  }

  #logo-nav {
    display: none;
  }

  .contact-form {
    padding: 10px 3px;
    width: 95%;
  }

  .textb input,
  .textb textarea {
    font-size: 12px;
  }

  .textb label {
    font-size: 12px;
  }
}
