* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(black 9%, #161720 17%);
    font-family: "Roboto", sans-serif;
}

header {
    background-color: black;
    background: url(../img/peakyBlindersAchtergrond.jpg) no-repeat center center fixed;
    height: 65vh;
    position: relative;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    background-color: black;
}

h1 {
    text-align: center;
    font-family: "Imbue", serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 12px;
    font-size: 400%;
    font-weight: 400;
}

.externe-nav {
    z-index: 2;
    width: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.771);
    padding: 10px 20px;
}

.nav-links {
    display: flex;
}

.nav-links li {
    list-style: none;
    flex: 1;
    text-transform: uppercase;
}

.nav-links a {
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
}

.nav-links a:hover {
    color: rgba(0, 0, 0, 0.541);
}

#logo-nav {
    flex: 3;
    text-transform: uppercase;
}

#logo-nav :hover {
    color: black;
}
.contenedor {
    max-width: 110rem;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: #000;
    
}
.galeria__flex{
    display:flex;
    max-width: 100vw;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
img {
    width: 350px;
    height: 220px;
    object-fit: cover;
    object-position: center;
    padding: 6px;
}
img:hover{
    cursor: pointer;
    opacity: 0,7;
    transform: scale(1.05);
    transition: 0.6s ease-out;
    filter: grayscale(0.9)
}

.principal h2{
    display: flex;
    justify-content: center;
    flex: 3;
    font-size: 200%;
    align-self: center;
    text-align: center;
    color: #ccc6a4;
}
footer {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.371);
    letter-spacing: 2px;
    font-size: 90%;
}

footer a {
    color: black;
    text-decoration: underline;
    font-size: 120%;
}

footer a:hover {
    color: whitesmoke;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    border: 2px solid grey;
    background: black;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.575);
}

::selection {
    color: black;
    background: #ccc6a4;
}
/* mobile */
@media only screen and (max-width: 1024px) {
    .nav-links li {
        padding: 10px 20px;
        margin: 3px;
    } 
}
@media only screen and (max-width: 823px) {
    main {
        margin: 15px;
    }
    
    .externe-nav {
        background-color: rgba(12, 12, 12, 0.986);
    }
    .nav-links {
        flex-direction: column;
        align-items: center;
        padding: 10px 0px;
    }
    .nav-links li {
        padding: 10px 0px;
        padding: 0;
        margin: 3px;
    }
    .nav-links a {
        font-size: 10px;
        color: white;
    }

    #logo-nav {
        display: none;
    }
}