#logo-nav {
	flex: 3;
	text-transform: uppercase;
	&:hover {
		color: $color_2;
	}
}
main {
	margin: 0px 40px;
	color: $color_9;
	line-height: 25px;
}
article {
	position: relative;
	h1 {
		margin: 10px 0px;
	}
	h2 {
		font-weight: 500;
		color: $color_4;
	}
}
h2 {
	margin: 10px 0px;
}
h3 {
	margin: 10px 0px;
	font-weight: 500;
	color: $color_4;
}
#pagina-titel {
	padding-top: 20px;
}
.main-content {
	display: flex;
	flex-wrap: wrap;
	padding: 10px 0px;
	div {
		padding: 10px;
	}
}
.links {
	flex: 1;
	background-color: $background-color_9;
	color: $color_1;
	font-size: 110%;
	border-radius: 8px;
}
.rechts {
	flex: 3;
	font-size: 200%;
	align-self: center;
	text-align: center;
	color: $color_4;
}
.interne-nav-links {
	li {
		padding-top: 5px;
		list-style: none;
	}
	a {
		letter-spacing: 2px;
		text-decoration: none;
		color: $color_1;
		&:hover {
			color: $color_5;
		}
	}
}
.hoofdrollen {
	display: flex;
	flex-wrap: wrap;
	img {
		&:hover {
			transform: scale(1.05);
		}
	}
}
.box {
	img {
		width: 100%;
		height: auto;
		border-radius: 4px;
	}
	flex: 1;
	flex-basis: 30%;
	padding: 10px 20px;
}
.cast {
	color: $color_4;
}
.container1 {
	display: flex;
}
.box1 {
	flex: 1;
}
.box2 {
	flex: 1;
}
.box3 {
	flex: 1;
}
.container2 {
	display: flex;
}
.box4 {
	flex: 1;
}
.box5 {
	flex: 1;
	text-align: center;
	margin-bottom: 14px;
	iframe {
		border: 1px solid #ccc6a4;
		width: 70%;
		height: 120%;
		border-radius: 2px;
	}
}
.container-videogame {
	display: flex;
}
.videogame-box1 {
	flex: 1;
}
.videogame-box2 {
	flex: 1;
	text-align: center;
	img {
		width: 70%;
		height: auto;
		border-radius: 5px;
		padding-bottom: 20px;
	}
}
footer {
	text-align: center;
	background-color: $background-color_9;
	letter-spacing: 2px;
	font-size: 90%;
	a {
		color: $color_2;
		text-decoration: underline;
		font-size: 120%;
		&:hover {
			color: $color_8;
		}
	}
}
// &::-webkit-scrollbar {
// 	width: 15px;
// }
// &::-webkit-scrollbar-track {
// 	border: 2px solid grey;
// 	background: black;
// }
// &::-webkit-scrollbar-thumb {
// 	background: rgba(255, 255, 255, 0.575);
// }
// &::selection {
// 	color: $color_2;
// 	background: #ccc6a4;
// }
@media only screen and (max-width: 1207px) {
	.videogame-box2 {
		img {
			width: 90%;
			height: auto;
		}
		align-self: center;
	}
	.nav-links {
		li {
			padding: 10px 20px;
			margin: 3px;
		}
	}
}
@media only screen and (max-width: 823px) {
	main {
		margin: 15px;
	}
	.container2 {
		flex-direction: column;
	}
	.container1 {
		flex-direction: column;
	}
	.container-videogame {
		flex-direction: column;
	}
	.hoofdrollen {
		flex-direction: column;
	}
	.box5 {
		iframe {
			width: 100%;
		}
	}
	.externe-nav {
		background-color: $background-color_8;
	}
	.nav-links {
		flex-direction: column;
		align-items: center;
		padding: 10px 0px;
		li {
			padding: 10px 0px;
			padding: 0;
			margin: 3px;
		}
		a {
			font-size: 10px;
			color: $color_1;
		}
	}
	#logo-nav {
		display: none;
	}
}
