.principal {
	display: contents;
}
.trailer {
	padding-left: 6rem;
}
.musica {
	li {
		margin-left: 6rem;
	}
	p {
		font-size: 1.8rem;
		margin-left: 4rem;
	}
}
.tit_temp {
	color: $color_4;
	h2 {
		margin: 4rem;
		font-size: 3.5rem;
		display: flex;
		justify-content: center;
	}
	h4 {
		margin: 4rem;
		font-size: 1.7rem;
	}
}
